.profile-button-container,
.profile-button,
.profile-dropdown,
.profile-dropdown * {
  font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.profile-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: #333;
  padding-right: 12px;
}
.profile-dropdown {
  position: absolute;
  right: 2px;
  top: 60px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 5px;
  margin: 0;
}

.profile-dropdown.hidden {
  display: none;
}

.profile-dropdown li {
  padding: 8px 12px;
}

.profile-dropdown li button {
  background: none;
  border: none;
  color: #3c3c3c;
  cursor: pointer;
  text-align: center;
  letter-spacing: 1px;
}

.profile-dropdown li button:hover {
  text-decoration: underline;
}